Student Management System


Flask
pandas
matplotlib
seaborn
Your folder will now be
Student Management System/
│
├── index.html
├── app.py
├── python.py
├── insights.py
├── data.json
└── requirements.txt